@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

.font-serif-custom {
  font-family: 'DM Serif Display', serif;
}

.font-sans-custom {
  font-family: 'DM Sans', sans-serif;
}

.font-mono-custom {
  font-family: 'JetBrains Mono', monospace;
}
