@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

html,
body,
button,
input,
textarea,
select {
  font-family: 'DM Sans', sans-serif;
}

.font-serif-custom {
  font-family: 'DM Sans', sans-serif;
}

.font-sans-custom {
  font-family: 'DM Sans', sans-serif;
}

.font-mono-custom {
  font-family: 'DM Sans', sans-serif;
}
